# Ignore node_modules directory
node_modules/

# Ignore build output
/.next

# Ignore environment files
.env.local
.env.development
.env.test
.env.production

# Ignore log files
npm-debug.log*

# Ignore .npmrc user config file
.npmrc

# Ignore VSCode settings
.vscode/

# Ignore macOS files
.DS_Store

# Ignore yarn.lock
yarn.lock

# Ignore IDE and editor settings
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/
*.code-workspace

# Ignore TypeScript build artifacts
*.tsbuildinfo

# Ignore jest snapshot files
__snapshots__/
*.snap
